@import '../../../../assets/css/variables.scss';


.iconBox {
    position: absolute;
    top: -webkit-calc(50% - 30px);
    top: -moz-calc(50% - 30px);
    top: -ms-calc(50% - 30px);
    top: -o-calc(50% - 30px);
    top: expression(50% - 30px);
    top: calc(50% - 30px);
    cursor: pointer;
    color: rgba(0,0,0,1);
    left: -40px;
    @include vendor-prefix('transition', .2s); 

    .icon {
        width: 40px;
        height: 40px;
    }
}

.iconBox:hover {
    color: $primaryblue-color;
}